$hightlightColor:#004990;
$primaryColor:#fff;
$secondaryColor:#F4F5F8;
$borderColor:#EAEAEA;

$breakpoint-sm:768px;
$breakpoint-md:991px;

$DrawerWidth:250px;
$HeaderHeight:150px;

$ArrowWhite:'../assets/images/dropdown-icon-white.svg';
$ArrowBlack:'../assets/images/dropdown-icon-black.svg';


html,body{
    background-color: $secondaryColor;
}
@font-face {
    font-family: "robotoLight";
    src: url("../assets/fonts/Roboto-Light.ttf");
  }
@font-face{
    font-family: "robotoRegular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "robotoBold";
    src: url('../assets/fonts/Roboto-Bold.ttf');
}
@font-face{
    font-family: "robotoMedium";
    src: url('../assets/fonts/Roboto-Medium.ttf');
}


///common header fonts
.h2{
      font-family: "robotoBold";
      font-size: 14px;
}

///mixin for Non-Select2-dropdowns
@mixin dropdownIconSelector($IconType,$color){
    background:none;
    background: url($IconType) no-repeat 95% 50%;
    border-color: $color;
    cursor: pointer;
    &:focus{
        border-color: $color;
    }
    option{
        color:black;
        font-weight: inherit;
    }
}

.resetText{
    font-family: robotoBold;
    font-size: 12px;
    color: $hightlightColor;
    cursor: pointer;
}
.btn:focus,select:focus,.form-control:focus{
    outline: none !important;
    box-shadow: none;
}

///Header-grouping
.fixed-top{
    background-color: $primaryColor;
    .nav-header{
        padding: 8px 16px;
        #logo{
           width: 140px;
        }
        .navbar-icons{
            padding:10px;
            align-self: center;
            a{
                .fa{ 
                    color: $primaryColor;
                   -webkit-text-stroke-width: 1.4px;
                   -webkit-text-stroke-color: $hightlightColor;
                    cursor: pointer;
                 }
            }
            .notificationCounter{
                background-color: #FF0000; 
                color: $primaryColor; 
                margin-top: -14px; 
                margin-left: -10px; 
                border-radius: 50%; 
                width: 16px; 
                height: 16px; 
                font-size: 0.6rem;
            }
             #userPic{
                width: 40px;
                height: 40px;
                border-radius: 8px;
            }
        }
    }
    .navbar-operations{
        padding: 10px 16px;
        background-color: $hightlightColor;
        .dropdown{
          font-family: robotoBold;
          font-size:12px;
          background-color: transparent;
          color: $primaryColor;
          text-align: left;
          width: 200px;
          option{
              font-size: 12px;
          }
          @include dropdownIconSelector($ArrowWhite,$primaryColor);
        }
        div:nth-child(2){
            button{
                font-size: 0.8em;
                border-radius: 18px;
                background-color: #3D75AB;
                color: $primaryColor;
                @media (min-width:769px){
                     padding-left: 20px;
                     padding-right: 20px;
                  i{padding-left: 8px;}
                }
                @media (max-width:$breakpoint-sm){
                    border-radius: 50%;
                    text-align: center;
                     width: 40px;
                     height: 40px;
                  span{display: none;} 
                }
            }
        }
    }
}

  
///sidebar 
#sidebar{
        top: $HeaderHeight;
        z-index: 1200;
        position: fixed;
        width: $DrawerWidth;
    .sidebar-box{
        background-color: $primaryColor;
        border-top-right-radius: 50px; 
            .sidebar-content{
                padding:14px 18px;
                .list-header{  
                    padding: 10px;
                    border-bottom: solid 2px $secondaryColor;
                }
                form{
                    height: calc(100vh - 206px);
                    overflow-y: auto;
                    .filters{
                        margin-bottom: 20px;
                        .master-control{
                            padding: 6px 4px;
                            .dropdown{
                                @include dropdownIconSelector($ArrowBlack,$secondaryColor);
                                font-size: 14px;
                                border-width: 2px;
                            }
                        }
                    }
                }
                .ApplyFilters{
                    width: 100vw;
                    height: 74px;
                    border-top: solid 2px $borderColor;
                    .btn{
                        font-family: robotoBold;
                        font-size: 12px;
                        letter-spacing: 0.5px;
                        padding: 10px 20px;
                        border-radius: 2px;
                        background-color: $hightlightColor;
                        color: $primaryColor;
                    }
                }
            }
    }
}

///Body of the app
.page-base-container{
    padding-top: $HeaderHeight;
    ///drawerwidth 250 
    margin-left: $DrawerWidth;
    width: calc(100% - 250px);
    background-color: $secondaryColor;
    @media (max-width:$breakpoint-md){
        margin-left: 0px;
        width: 100%;
    }
    .view{
        margin-bottom: 20px;
       .first-layer{
             .titlecard{
                background-color: #D69100;
                background-image: transparent linear-gradient(180deg, #EDAD27 0%, #D69100 100%) 0% 0% no-repeat padding-box;
                background-image: url('../assets/images/Curves.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 100%;
                border-radius: 10px;
                color: $primaryColor; 

                .titlecard-welcome{
                    .title{
                        font-size: 14px;
                        font-family: robotoLight;
                    }
                    .title-name{
                        font-family: robotoBold;
                        font-size: 20px;
                    }
                }
                .ilustrated-img{
                    max-width:200px; 
                    height: 100%; 
                    right: 3%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card{
                padding: 15px 15px;
                border-radius: 10px;
                .leadsData{
                    .leadsCount{
                       color: $hightlightColor;
                    }
                }
                .piechart{
                    width: 7em;
                    margin: auto 0px;
                    height: 100px;
                }
            }
        }
        .cards{
            padding: 8px;
            .card-layout{
                border-radius: 10px;
                background-color: $primaryColor;
                .card-layout-header{
                   padding: 14px;
                   color: black;
                   border-bottom: solid 1px $borderColor;
                   button{
                       border-color: $hightlightColor;
                       padding: 4px 10px;
                       background-color: $primaryColor;
                       &:hover{
                            background-color: $hightlightColor;
                            color: $primaryColor;
                       }
                   }
                }
                .card-body{
                    .btn{
                        font-size: 0.7em;
                        font-family: robotoRegular;
                        background-color: $primaryColor;
                        border:solid 2px $borderColor;
                        color: black;
                        border-radius: 8px;
                        &:hover{
                            background-color: $hightlightColor;
                            color: $primaryColor;
                        }
                    }
                    .date-picker{
                        width: 100%;
                        height: 34px;
                        font-size: 0.7em;
                        color: black;
                        background-image: url('../assets/images/datepicker.svg');
                        background-repeat: no-repeat;
                        background-position: 96% 50%;
                        background-size: 14px;
                        &:focus{
                            outline: none;
                            border: solid 1px $hightlightColor;
                        }
                    }
                    &-charts{
                        padding: 20px;
                        height: 100%;
                        width: 100%;
                    .charts{
                        height: 200px;
                        width: 100%;
                    }
                    }
                }
                .card-layout-footer{
                    border-top: solid 1px $borderColor;
                    font-size: 12px;
                    padding: 10px;
                    div{
                        padding: 4px;
                        .btn{
                            padding: 1px 8px;
                            border: solid 1px $borderColor;
                        }
                    }
                    .dropdown{&:focus{outline: none; border: solid 1px $hightlightColor;}}
                }
            }
        }
        .explorer-enabled{
            .explore-icon-on,.explore-icon-off{
                font-size: 14px;
                color:rgba($color: #000000, $alpha: 0.4);
                cursor: pointer;
                &:hover{
                    transform: scaleX(1.15);
                }
            }
        }
    }
}

///filter options toggler
.mobile-view-toggler{
    &-on{
        z-index: 1500;
        background-color: $hightlightColor;
        bottom: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: none;
        .icon-o{
            width: 12px;
            height: 12px;
            top: 0;
            right: 0;
            background-color: #FF0000;
            border-radius: 50%;
        }
        span{
            vertical-align: center;
            font-size: 22px;
            color: $primaryColor;
        }
    }
    &-off{
       font-size: 18px;
    }
}

////Table overrides  Check 'plugins/jqwidgets/jqwidgets/styles/jqx.base.css
.table-wrapper,form{
    max-width: 100%;
    height: 100%;  ///99% overflow x
    overflow: auto;
    &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            /* Remove scrollbar space */
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px $hightlightColor;
                    box-shadow: inset 0 0 5px $hightlightColor;
            border-radius: 2px;
          }
          /* Handle */
         &::-webkit-scrollbar-thumb {
            background: $hightlightColor;
            border-radius: 10px;
          }
    #divPivotGrid{
        width: 100%;
        #innerDiv jqx-pivotgrid-expand-button{
            padding:10px !important;
            left: 40px;
        }
        .jqx-pivotgrid-content-wrapper {
            border: solid 1px $borderColor;
            font-size: 1em;   
            font-family: "robotoRegular";
        }
        .jqx-pivotgrid{
            &::before{
                position: absolute;
                top: 20px;
                left: 14px;
                font-size: 14px;
                font-family: "robotoBold";
                content: 'Measures';
                color: black;
            }    
            border: solid 1px $borderColor;
            background-color: $primaryColor;
        }
        .jqx-widget-header{
            font-family: "robotoMedium";
            font-size: 12px;
            background-color: $primaryColor;
            color: black;
        }
        .jqx-pivotgrid-{
                &expand-button{background-image: url('../assets/images/plus-icon.svg') !important;}
                &collapse-button{background-image: url('../assets/images/minus-icon.svg') !important;}
                &collapse-button,&expand-button{
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin: 0 8px 0 10px;
                    left: 0px;
                }
        }
    }    
}


///To view select2 container on tab devices  --overide runtime generation
.select2-container{
    z-index: 1400;  
}

///sidebar Responsiveness
@media screen and (max-width:$breakpoint-md) and (min-width:0px){
    #sidebar{
        top: 0;
        width: 100vw;
        height: 80vh;
        display: none;
        .sidebar-box .sidebar-content{
            padding-top: 0px;
            form{
                height: calc(100vh - 140px);
            }
        } 
    }
    .mobile-view-toggler-on{
        display: block;
    }
}

////select2-container
.select2-container{
    font-size: 12px;
    width: 100% !important;
    .select2-selection--single {
        height: 40px;
        padding: 8px 2px;
        opacity: 0.8;
        border: solid 2px $borderColor;
        &:focus{
            outline: none;
            border: solid 0.5px $hightlightColor;
        }
        .select2-selection__rendered{
           font-family: robotoRegular;
        }
      }
    &--default{
    .select2-selection__arrow {
        background-image: url('../assets/images/dropdown-icon-black.svg');
        background-repeat: no-repeat;
        background-position-y: 15px;
        background-size: 11px;
        b { display: none;}
      }
}
}
////Enable for full full screen view
#modal-fullscreen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1500;
    width: 100vw;
    height: 100vh;
    display: flex;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: brightness(40%);
    .modal-base{
        width: 90%;
        height: 80%;
        .card-body{
            height: 70%;
            .table-wrapper{
            height: 100%;
        }
        }
       .modal-master{
           background-color: white;
           border-radius: 20px;
           .card-body-charts{
            height: 80%;
              .charts{
                  height: 100%;
              }
           }
       }
    }
}

////bootstrap data table
tbody{
    border: solid 1px $borderColor;
    font-family: robotoRegular;
 }
 tr{
     td{
         border:solid 1px $borderColor !important;
         font-size: 1em;
         
     }
 }
 
 thead th,.sorting_1{
     border:solid 1px $borderColor !important;
     font-size: 12px;
 }
 
 tr td:nth-child(1){
    min-width: 150px;
    @media (min-width:762px){
        min-width: 100px;
    }
    &::before{
        content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    }
 }
 tr td{
     font-size: 0.8em;
 }
 #bootstrapDataTable_filter{
     display: none;
 }
 .dataTables_info{
     display: none !important;
 }